[user]
	name = Michael Lerch
	email = mdlerch@gmail.com
[core]
	editor = vim
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[github]
	user = mdlerch
	token = 7035c51d364e417dc09ec3150883e32b
[giggle]
	main-window-maximized = false
	main-window-geometry = 1588x848+6+30
	history-view-vpane-position = 706
	file-view-vpane-position = 323
	main-window-view = FileView
